body {
	background-color: darkred;
}

.tekst {
	color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

.tekst2 {
	margin-top: 60px;
	font-size: 30px;
	color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

.tekst3 {
	font-size: 30px;
	color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

.pets1 {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.pets1:active {
	transform: scale(0.9);
}

.suvaline {
	display: flex;
	justify-content: center;
	align-items: center;
}
.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}


.instruct {
	display: flex;
	justify-content: center;
	align-items: center;
	color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

.poosas { 
	pointer-events:none;
	opacity: 0;
  position: absolute; 
  top: 0px; 
  left: 0px; 
  transition: all 0.2s;
}

.poosas2 { 
	pointer-events:none;
	opacity: 0;
  position: absolute ; 
  top: 100px; 
  left: 100px; 
  transition: all 0.2s;
}
