body {
	background-color: darkred;
}

.tekst {
	color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

.tekst2 {
	font-size: 30px;
	color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

.pets1 {
	display: flex;
	justify-content: center;
	align-items: center;
}